extends ../layout

block content
  .container
    .row.justify-content-center
      .col-md-8.col-lg-6.my-4
        a.btn.btn-secondary.mb-3(href='/bicicletas')
          i.fa.fa-arrow-left.mr-1
          | Volver
        h1.mb-3 Nuevo registro de bicicleta
        form(action='/bicicletas/create' method='post')
          .form-group
            label(for='color') Color:
            select.form-control(name='color' id='', required)
              option(value='--select--' disabled selected) --Seleccione una opci칩n--
              option(value='Blanco') Blanco
              option(value='Negro') Negro
              option(value='Rojo') Rojo
              option(value='Verde') Verde
          .form-group
            label(for='modelo') Modelo:
            select.form-control(name='modelo' id='', required)
              option(value='--select--' disabled selected) --Seleccione una opci칩n--
              option(value='Ruta') Ruta
              option(value='Cross') Cross
              option(value='Monta침a') Monta침a
              option(value='Turismo') Turismo
          .form-group
            label(for='lat') Latitud:
            input.form-control#id(type='text' name='latitud' required)
          .form-group
            label(for='lng') Longitud:
            input.form-control#id(type='text' name='longitud' required)
          button.btn.btn-primary(type='submit' name='OK')
            | Crear
